<a href="/post/{{id}}" class="nostyle linkDiv">
  <div class="row postRow">
    {{#if (complexIf sess_username user.username)}}
    <div class="postHeaderUser">
      <p class="text-wrap text-break">{{posttitle}}</p>
      <p>Posted by {{user.username}} on {{format_time createdAt}}</p>
    </div>
    {{else}}
    <div class="postHeaderForeign">
      <p class="text-wrap text-break">{{posttitle}}</p>
      <p>Posted by {{user.username}} on {{format_time createdAt}}</p>
    </div>
    {{/if}}
    <div class="postContent">
      <p class="text-wrap text-break">{{postbody}}</p>
    </div>
  </div>
</a>