  <main class="container-fluid mt-3">
     <div class="row justify-content-around">
      <div class="col-11 mb-3 d-flex flex-column align-items-center">
        <div class="row postRow shadowtiseMeCapt">
          {{#if (complexIf edittedpostData.sess_username edittedpostData.user)}}
          <div class="postHeaderUser">
            <p  class="text-wrap text-break">{{edittedpostData.posttitle}}</p>
            <p>Posted by {{edittedpostData.user}} on {{format_time edittedpostData.createdAt}}</p>
          </div>
          {{else}}
          <div class="postHeaderForeign">
            <p class="text-wrap text-break">{{edittedpostData.posttitle}}</p>
            <p>Posted by {{edittedpostData.user}} on {{format_time edittedpostData. createdAt}}</p>
          </div>
          {{/if}}
          <div class="postContent">
            <p class="text-wrap text-break">{{edittedpostData.postbody}}</p>
          </div>
        </div>
        {{#each commentData as |comment|}}
        {{>comntGenr}}
        {{/each}}
      </div>
    </div>
  </main>